@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.assembler-desc {
  background-color: white;
  font-family: "Montserrat";
  text-align: center;
  margin: 5rem;
}

#sandwich-builder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

p {
  font-family: "Montserrat";
  font-weight: bold;
}

.menu {
  background-color: #2abd67;
  width: 50%;
  box-sizing: border-box;
}

.menu div > p {
  color: white;
}

.title {
  margin: 5px;
  width: 100%;
}

.ing-pain,
.ing-viande,
.ing-sauce,
.ing-legumes,
.ing-fromage {
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.clickable {
  border-radius: 5px;
  margin: 5px;
  height: 60px;
  width: 60px;
  background-position: center;
  background-size: cover;
  transition: all 0.05s;
  box-shadow: 0 2px 4px black;
}

.clickable:hover {
  cursor: pointer;
}

.selected {
  border-radius: 10px;
  box-shadow: inset 0 0 10px 0 rgb(255, 226, 59), 0 2px 4px black;
  border: 3px solid rgb(255, 226, 59);
  transition: all 0.1s;
}

#preview {
  width: 50%;
  margin: 0 1rem 0;
  position: relative;
  box-sizing: border-box;
}

#preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#preview-bottom,
#preview-top {
  height: 100px;
  background-image: url("./assets/preview_pain.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

#preview-bottom {
  margin-top: 1rem;
  transform: scale(-100%);
}

#ticket {
  display: flex;
  width: 100%;
  font-family: Arial, sans-serif;
}

.ticket-items {
  overflow: none;
  padding: 1rem;
  width: 50%;
}

.ticket-items span {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 10px;
}

.ticket-items span::before {
  content: "+";
}

.ticket-items span::after {
  content: "€";
}

.ticket-items li {
  padding: 10px 0 10px;
}

@media only screen and (max-width: 960px) {
  #sandwich-builder {
    flex-direction: column;
  }
  .menu,
  #preview {
    width: 100%;
    margin: 0 0 1rem;
  }
  .ticket-items {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .menu,
  #preview {
    width: 50%;
  }
  #preview {
    margin: 0;
  }
}
