/* Style de base pour le body */
body {
    font-family: Arial, sans-serif; /* Police de caractères du texte */
    margin: 0; /* Supprime la marge par défaut autour du body */
    padding: 0; /* Supprime le padding par défaut autour du body */
}

/* Style du popup */
.popup {
    position: fixed; /* Position fixe pour centrer le popup et le maintenir en place lors du défilement */
    width: 100%; /* Occupe toute la largeur de la page */
    height: 100%; /* Occupe toute la hauteur de la page */
    background-color: rgba(111, 111, 111, 0.183); /* Couleur de fond semi-transparente pour l'effet d'ombrage */
    display: flex; /* Utilise Flexbox pour centrer le contenu */
    align-items: center; /* Centre verticalement le contenu du popup */
    justify-content: center; /* Centre horizontalement le contenu du popup */
    z-index: 10; /* Assure que le popup reste au-dessus des autres éléments */
}

.popup-content {
    background: white; /* Fond blanc pour le container de connexion */
    padding: 35px; /* Espace interne autour du contenu */
    border-radius: 20px; /* Arrondit les angles du container */
    width: 400px; /* Largeur du container du formulaire */
}

/* Styles pour les champs de saisie et le bouton */
h2 {
    font-size: 30px; /* Taille de la police pour le titre */
    font-weight: bold; /* Texte en gras pour le titre */
    margin-bottom: 20px; /* Espace sous le titre */
    text-align: center; /* centre le text */
}

label {
    display: block; /* Affiche chaque label sur une nouvelle ligne */
    margin: 5px 5px; /* Espace autour du label */
    font-weight: bold; /* Texte en gras pour le bouton */
}


input[type="text"],
input[type="password"] {
    width: 100%; /* Champs de saisie prennent toute la largeur du container */
    padding: 8px; /* Espace interne pour le champ de texte */
    border: 2px solid #000000; /* Bordure grise légère */
    border-radius: 20px; /* Arrondit les bords du champ */
    margin-bottom: 10px; /* Espace sous chaque champ */
    background-color: #2abd67; /* Couleur de fond */
    color: #000000; /* Couleur du texte qui seras entrer dans le champ */
}

input::placeholder {
    color: #000000; /* Couleur du texte d'indication dans les champs */
    text-align: left; /* aligne le text a gauche */
    font-weight: bold; /* Texte en gras pour le bouton */
}

#login-button{
    margin-left: 145px; /* pour centrer le bouton */
}

.but-retour{
    margin-bottom: 50px;
    
}

button { /* moddif du bouton Sign Up */
    min-width: 30%; /* Le bouton prend 30% la largeur du container */
    padding: 10px; /* Espace interne du bouton */
    border: none; /* Supprime la bordure du bouton */
    border-radius: 20px; /* Arrondit les bords du bouton */
    background-color: #2abd67; /* Couleur de fond jaune pâle */
    color: black; /* Couleur du texte du bouton */
    font-size: 15px; /* Taille de la police du bouton */
    font-weight: bold; /* Texte en gras pour le bouton */
    margin-top: 15px; /* Espace au-dessus du bouton */

    
}

button:hover {
    background-color: #d5b629; /* Change la couleur de fond au survol de sign Up*/
}

p {
    font-size: 15px; /* Taille de la police pour le texte sous le formulaire */
    margin-top: 10px; /* Espace au-dessus du texte */
    text-align: center; /* align le text au centre */
}

p a {
    color: blue; /* Couleur du lien */
    text-decoration: none; /* Supprime le soulignement du lien */
    font-weight: bold; /* pour rendre le text gras */
    font-size: 15px; /* taille du text */ 
}

p a:hover {
    text-decoration: underline; /* Souligne le lien au survol */
}

/* hover est un pseudo-élément CSS qui permet de changer 
le style d'un élément lorsqu'on passe la souris dessus, 
créant ainsi un effet visuel interactif. */