*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.5);
    z-index: -1;
}


.background {
    background-image: url(../images/resto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: brightness(0.5);
}

.background h1, .background p {
    color: white;
}

/* main */
.sdwch1 {
    height: auto;
    width: 400px;
}

.sdwch2 {
    height: auto;
    width: 300px;
}

.sdwchpreview {
    height: auto;
    width: 400px;
}

.caracteristique {
    background-color: #62ca8d;
    padding: 100px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.utilisateur {
    margin: 40px;
    padding: 10px;
    color: white;
    background-color: #2ABD67;
    border-radius: 10px;
    background-size: contain;
    display: inline-block;
}

.utilisateur-parent {
    text-align: right;
}

h1 {
    text-align: left;
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 3em;
    text-align: left;
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

main p {
    font-size: 2.5em;
    width: 450px;
    font-family: "Jost", sans-serif;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nutriscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    font-size: 4em;
    font-family: "Jost", sans-serif;
}

h5 {
  font-family: "Jost", sans-serif;
}

.personnalisable {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

